.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

form {
    width: 50%;
    max-width: 400px;
    margin-left: 50px;
}

form p {
    margin-bottom: 10px;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input[type="text"],
form input[type="email"],
form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.image-container {
    width: 50%;
    max-width: 400px;
}

.image-container img {
    max-width: 100%;
    display: block;
    margin-left: 50px;
}

form button {
    display: inline-block;
    padding: 10px 20px;
    margin-right: 10px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #337ab7;
    color: #fff;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #286090;
}

.btn-secondary {
    background-color: #ccc;
    color: #333;
}

h1.form-title {
    text-align: center;
    margin-bottom: 20px;
}