body {
    font-family: Arial, sans-serif;
    margin: 10px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

form {
    margin-bottom: 20px;
}

form p {
    margin-bottom: 10px;
}

.sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #f0f0f0;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidebar a {
    padding: 10px 8px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block;
}
.sidebar img {
    max-width: 100%;
    height: auto;
}
.sidebar a:hover {
    background-color: #ddd;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    text-decoration: none;
}

.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.btn-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

.btn-secondary {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.center-content {
            text-align: center;
            margin-top: 50px;
}

.center-content img {
            display: block;
            margin: 0 auto;
            width: 50%;
}