{% extends 'base_layout.html' %}
{% load i18n %}
{% load static %}

{% block content %}
<body>
    <div class="container" style="margin-left: 200px; padding-top: 20px;">
        <h1>{% trans "Children List" %}</h1>
        <a href="{% url 'child_create' %}" class="btn btn-primary mb-3">{% trans "Add Child" %}</a>
        <table class="table">
            <thead>
                <tr>
                    <th>{% trans "Name" %}</th>
                    <th>{% trans "Birth Date" %}</th>
                    <th>{% trans "Group" %}</th>
                    <th>{% trans "Parents" %}</th>
                    <th>{% trans "Actions" %}</th>
                </tr>
            </thead>
            <tbody>
                {% for child in childs %}
                <tr>
                    <td>{{ child.name }}</td>
                    <td>{{ child.birth_date }}</td>
                    <td>{{ child.group }}</td>
                    <td>{{ child.parent.name }}</td>
                    <td>
                        <a href="{% url 'child_update' child.pk %}" class="btn btn-primary btn-sm">{% trans "Edit" %}</a>
                        <a href="{% url 'child_delete' child.pk %}" class="btn btn-danger btn-sm">{% trans "Delete" %}</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
{% endblock content %}