{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% if form.instance.pk %}{% trans "Edit Child" %}{% else %}{% trans "Add Child" %}{% endif %}</title>
    <link rel="stylesheet" href="{% static 'css/forms-child.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="form-container">
            <h1>{% if form.instance.pk %}{% trans "Edit Child" %}{% else %}{% trans "Add Child" %}{% endif %}</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
                <a href="{% url 'child_list' %}" class="btn btn-secondary">{% trans "Cancel" %}</a>
            </form>
        </div>
        <div class="image-container">
            <img src="{% static 'images/children.png' %}" alt="{% trans 'Your Image' %}">
        </div>
    </div>
</body>
</html>