{% extends 'base_layout.html' %}
{% load i18n %}
{% load static %}

{% block content %}
    <div class="container">
        <h1 class="form-title">{% trans "Update User" %}</h1>
        <div class="form-container">
            <form method="post" class="form">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
                <a href="{% url 'user_list' %}" class="btn btn-secondary">{% trans "Cancel" %}</a>
            </form>
        </div>
    </div>
{% endblock %}