{% extends 'base_layout.html' %}
{% load i18n %}

{% block title %}{% trans "User List" %}{% endblock %}

{% block content %}
    <div class="container">
        <h1>{% trans "User List" %}</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>{% trans "Username" %}</th>
                    <th>{% trans "Email" %}</th>
                    <th>{% trans "First Name" %}</th>
                    <th>{% trans "Last Name" %}</th>
                    <th>{% trans "Group" %}</th>
                    <th>{% trans "Actions" %}</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.username }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.first_name }}</td>
                        <td>{{ user.last_name }}</td>
                        <td>
                            {% for group in user.groups.all %}
                                {{ group.name }}
                                {% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            <a href="{% url 'user_form' pk=user.pk %}" class="btn btn-primary">{% trans "Update" %}</a>
                            <a href="{% url 'role_assign_form' pk=user.pk %}" class="btn btn-success">{% trans "Assign Role" %}</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}