{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% if form.instance.pk %}{% trans "Edit Parent" %}{% else %}{% trans "Add Parent" %}{% endif %}</title>
    <link rel="stylesheet" href="{% static 'css/forms-parent.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <form method="post">
            {% csrf_token %}
            <h1 class="form-title">{% if form.instance.pk %}{% trans "Edit Parent" %}{% else %}{% trans "Add Parent" %}{% endif %}</h1>
            <label for="id_name">{% trans "Name" %}:</label>
            {{ form.name }}
            <label for="id_contact_number">{% trans "Contact Number" %}:</label>
            {{ form.contact_number }}
            <label for="id_address">{% trans "Address" %}:</label>
            {{ form.address }}
            <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
            <a href="{% url 'parent_list' %}" class="btn btn-secondary">{% trans "Cancel" %}</a>
        </form>
        <div class="image-container">
            <img src="{% static 'images/parent.png' %}" alt="{% trans 'Placeholder Image' %}">
        </div>
    </div>
</body>
</html>