{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% trans "Delete Parent" %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>{% trans "Delete Parent" %}</h1>
        <p>{% trans "Are you sure you want to delete this parent: {{ parent.name }}?" %}</p>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">{% trans "Yes, delete" %}</button>
            <a href="{% url 'parent_list' %}" class="btn btn-secondary">{% trans "Cancel" %}</a>
        </form>
    </div>
</body>
</html>