{% extends 'base_layout.html' %}
{% load i18n %}
{% load static %}

{% block content %}
<body>
    <div class="container" style="margin-left: 200px; padding-top: 20px;">
        <h1>{% trans "List of Parents" %}</h1>
        <a href="{% url 'parent_create' %}" class="btn btn-primary mb-3">{% trans "Add Parent" %}</a>
        <table class="table">
            <thead>
            <tr>
                <th>{% trans "Name" %}</th>
                <th>{% trans "Contact Number" %}</th>
                <th>{% trans "Address" %}</th>
                <th>{% trans "Actions" %}</th>
            </tr>
            </thead>
            <tbody>
                {% for parent in parents %}
                    <tr>
                        <td>{{ parent.name }}</td>
                        <td>{{ parent.contact_number }}</td>
                        <td>{{ parent.address }}</td>
                        <td>
                            <a href="{% url 'parent_update' parent.pk %}" class="btn btn-primary btn-sm">{% trans "Edit" %}</a>
                            <a href="{% url 'parent_delete' parent.pk %}" class="btn btn-danger btn-sm">{% trans "Delete" %}</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
{% endblock %}