{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% trans "My Website" %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    {% block extra_head %}{% endblock %}
</head>
<body>
    <div class="sidebar">
        <a href="{% url 'home' %}"><i class="fas fa-home"></i> {% trans "Home" %}</a>
        <a href="{% url 'parent_list' %}"><i class="fas fa-users"></i> {% trans "List of Parents" %}</a>
        <a href="{% url 'child_list' %}"><i class="fas fa-child"></i> {% trans "List of Children" %}</a>
        <a href="{% url 'register' %}"><i class="fas fa-user-plus"></i> {% trans "Register" %}</a>
        <a href="{% url 'login' %}"><i class="fas fa-user-plus"></i> {% trans "Login" %}</a>
        <a href="{% url 'password_change' %}"><i class="fas fa-user-plus"></i> {% trans "Change Password" %}</a>
        <a href="{% url 'user_list' %}"><i class="fas fa-user-plus"></i> {% trans "User List" %}</a>
        {% if request.user.is_authenticated %}
            <a href="#" class="user-info">
                <i class="fas fa-user"></i> {{ request.user.username }} ({{ request.user.groups.first.name }})
            </a>
            <a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> {% trans "Log Out" %}</a>
        {% else %}
            <a href="{% url 'login' %}"><i class="fas fa-user-times"></i> {% trans "Unauthorized" %}</a>
        {% endif %}
         <div class="language-switcher">
            {% get_available_languages as LANGUAGES %}
            {% for language in LANGUAGES %}
                <form action="{% url 'set_language' %}" method="post">
                    {% csrf_token %}
                    <input name="next" type="hidden" value="{{ redirect_to }}">
                    <input name="language" type="hidden" value="{{ language.0 }}">
                    <button type="submit" class="language-link{% if language.0 == LANGUAGE_CODE %} active{% endif %}">
                        {{ language.1 }}
                    </button>
                </form>
            {% endfor %}
        </div>
    </div>

    {% block content %}{% endblock %}

    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</body>
</html>
