{% extends 'base_layout.html' %}
{% load i18n %}
{% load static %}

{% block content %}
    <div class="container">
        <h1 class="form-title">{% block form_title %}{% trans "Form Title" %}{% endblock %}</h1>
        <div class="form-container">
            <form method="post" class="form">
                {% csrf_token %}
                {% block form_content %}{% endblock %}
                <button type="submit" class="btn btn-primary">{% block submit_button_text %}{% trans "Submit" %}{% endblock %}</button>
                <a href="{% url 'home' %}" class="btn btn-secondary">{% trans "Cancel" %}</a>
            </form>
        </div>
    </div>
{% endblock %}