{% extends 'base_layout.html' %}
{% load i18n %}
{% load static %}

{% block extra_head %}
    <style>
        .home-image {
            max-width: 400px;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="center-content">
            <h1>{% trans "Welcome to My Website" %}</h1>
            <p>{% trans "My website provides convenient and useful services for parents and children." %}</p>
            <p>{% trans "Explore our platform to manage lists of children, their groups, parent information, and much more." %}</p>
            <img src="{% static 'images/family.png' %}" alt="{% trans 'Website Image' %}" class="home-image">
        </div>
    </div>
{% endblock %}